<section>
  <div class="d-flex justify-content-between">
    <p class="h3 mr-auto">{{travel.name}}</p>
    <div class="d-flex justify-content-center">
      {{#if isLiked}}
      <form action="/travels/{{travel.id}}/unlike" method="POST">
        <button class="btn m-1"><i class="fa-solid fa-heart fs-4 text-danger"></i></button>
      </form>
      {{else}}
      <form action="/travels/{{travel.id}}/like" method="POST">
        <button class="btn m-1"><i class="fa-regular fa-heart fs-4 text-danger"></i></button>
      </form>
      {{/if}}
      {{#if isCollected}}
      <form action="/travels/{{travel.id}}/uncollected" method="POST">
        <button class="btn m-1"><i class="fa-solid fa-bookmark fs-4"></i></button>
      </form>
      {{else}}
      <form action="/travels/{{travel.id}}/collected" method="POST">
        <button class="btn m-1"><i class="fa-regular fa-bookmark fs-4"></i></button>
      </form>
      {{/if}}
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <p class="h5">日期：{{formatDate travel.beginDate}}~{{formatDate travel.finishDate}}</p>
      <p class="h5">地點：{{travel.location}}</p>
      <p class="h5">評分：{{travel.score}}</p>
      <p class="h5 d-inline">旅行者：</p>
      <a href="/users/profile/{{travel.User.id}}">
        <img src=" {{travel.User.avatar}}" class="border rounded-circle m-1"
          style="height: 40px; width: 40px; background-color:rgb(131, 135, 139);">
      </a>
    </div>
    <div class="col-md-8">
      <p class="h5">行程說明與紀錄：</p>
      <p class="h5" style="white-space:pre-wrap;">{{travel.description}}</p>
    </div>
  </div>
  <div class="container my-5" style="width:50%">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {{#each travel.Images}}
        <div class="carousel-item {{#ifCond this.image ../firstImage}}active{{/ifCond}}">
          <img class="d-block w-100 h-100" style="max-height:450px;" src="{{this.image}}">
        </div>
        {{/each}}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  {{#ifCond the_user.id travel.User.id}}
  <div class="d-flex justify-content-center">
    <a href="/travels/{{../travel.id}}/edit" class="btn btn-primary mx-1">修改</a>
    <form class="mx-1" action="/travels/{{../travel.id}}?_method=DELETE" method="POST">
      <button class="btn btn-danger" onclick=" return confirm(`確定要刪除 {{ ../travel.name }} 嗎？`)">刪除</button>
    </form>
  </div>
  {{/ifCond}}
</section>